#head > .navbar{
	border-bottom: 1px solid #EEEEEE;
	border-radius: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white;
	box-shadow: 1px 0px 1px 0px #888888;
}
#head >.navbar>.navbar-brand{
	color: black;
	font-weight: 580;
	font-size: 23px;
}
#head>.navbar>.navbar-nav>li{
	font-size:16px;
	padding-left: 20px;
}
